    

<div class="row">
  <div class="span12">
    <div class="row pull-right">
        <div class="span5"><h3>About Brunch with Puppets</h3></div>
        <div class="span1"><img class="img-rounded" src="http://sandy98.ods.org/img/puppets.jpg"/></div>
    </div>
    <div class="row">
        <div class="well" style="padding: 20px;">
            <p>
              Brunch with Puppets is a Brunch Skeleton App which provides a "three pages" top menu, a central region where
              contents - like this - are displayed, and a footer.
            </p>
            <p>
              It's Backbone.Marionette driven and the implementation language is Coffeescript, though you can build upon it
               using whatever language you prefer - i.e Livescript, Roy, Javascript! - thanks to the powerful plugin system
               that Brunch The Application Assembler offers.
            </p>
        </div>
    </div>
  </div>
</div>

    