
<div id="menu"></div>
<div id="content" class="container"></div>

<footer class="navbar-fixed-bottom" style="border-top: solid 1px; padding-top: 0.5em; padding-bottom: 0.5em; color: #666666; border-color: #cccccc;">
    <div class="container">
      <span>Status bar</span>
    </div>
</footer>