
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Brunch with Puppets</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#contents">Contents</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content" class="container"></div>

<footer class="navbar-fixed-bottom" style="border-top: solid 1px; padding-top: 0.5em; padding-bottom: 0.5em; color: #666666; border-color: #cccccc;">
    <div class="container">
      <span>Status bar</span>
    </div>
</footer>