
<footer class="navbar-fixed-bottom" style="border-top: solid 1px; padding-top: 0.5em; padding-bottom: 0.5em; color: #666666; border-color: #cccccc;">
    <div class="container">
      <span><a target="_blank"href="https://github.com/sandy98/brunch-with-puppets#brunch-with-puppets">Brunch with Puppets - </a></span>
      <span> Yet another skeleton for <a target="_blank" href="http://brunch.io/">Brunch.io</a> the App Assembler</span>
    </div>
</footer>