    

<div class="row">
  <div class="span12">
    <div class="well">
      <h3>Home</h3>
    </div>
    <div class="row" style="text-align: center;">
      <img class="img-circle" src="img/puppets.jpg"/>
    </div>
    <div class="row">
      <div class="well well-small" style="margin-top: 1em;">
        <p>
          Right now, you can login using the facade data source system, using any of the built-in users as seen below.
        </p>
        <p>
          Or just simply sign up as a new user. Just keep in mind that any changes you make will be lost as soon as you leave the app
          because they are not being recorded to a database, this is only a mockup. The real thing is left to you...
        </p>
        <p>
          <ul class="breadcrumb">
            <li>
              <span style="color: #880000;">username: </span>
              <span style="color: #3C84CC;">lar-gand</span>
              <span class="divider">&nbsp;/&nbsp;</span>
              <span style="color: #880000;">pwd: </span>
              <span style="color: #3C84CC;">daxamite</span>
            </li>
            <li>
              <span style="color: #880000;">username: </span>
              <span style="color: #3C84CC;">kal-el</span>
              <span class="divider">&nbsp;/&nbsp;</span>
              <span style="color: #880000;">pwd: </span>
              <span style="color: #3C84CC;">kriptonian</span>
            </li>
            <li>
              <span style="color: #880000;">username: </span>
              <span style="color: #3C84CC;">rokk-krinn</span>
              <span class="divider">&nbsp;/&nbsp;</span>
              <span style="color: #880000;">pwd: </span>
              <span style="color: #3C84CC;">braalian</span>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

    