    

<div class="row">
  <div class="span12">
    <div class="well">
      <h3>Home</h3>
    </div>
    <div class="row" style="text-align: center;">
      <img class="img-circle" src="img/puppets.jpg"/>
    </div>
    <div class="row">
      <div class="well well-small" style="margin-top: 1em;">
        <p>
          Right now, you can login using the facade data source system, using any of the built-in users.
          Soon we're adding the functionality that will allow new users to sign up.
        </p>
        <p>
          <ul>
            <li>
              <span style="color: #880000;">username: </span>
              <span style="color: #3C84CC;">lar-gand</span>
              &nbsp;&nbsp;&nbsp;
              <span style="color: #880000;">pwd: </span>
              <span style="color: #3C84CC;">daxamite</span>
            </li>
            <li>
              <span style="color: #880000;">username: </span>
              <span style="color: #3C84CC;">kal-el</span>
              &nbsp;&nbsp;&nbsp;
              <span style="color: #880000;">pwd: </span>
              <span style="color: #3C84CC;">kriptonian</span>
            </li>
            <li>
              <span style="color: #880000;">username: </span>
              <span style="color: #3C84CC;">rokk-krinn</span>
              &nbsp;&nbsp;&nbsp;
              <span style="color: #880000;">pwd: </span>
              <span style="color: #3C84CC;">braalian</span>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

    